@import "tailwindcss";


body {
  font-family: 'Poppins', sans-serif;
}


.gradient-heading {
  background: linear-gradient(90deg, #37afb6 0%, #787add 50%, #c76ed5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: bold;
}
